CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.tx
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
config/Makefile.in
config_layout.h
configure
depcomp
install-sh
missing
src/Makefile.in
src/daemon/.deps/
src/daemon/Makefile.in
src/daemon/krake
src/daemon/*.o
stamp-h1
